
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Hace que el contenedor ocupe toda la altura de la pantalla */
  position: relative;
  margin-top: 80px;
}

#Image {
  max-width: 100%;
  min-height:200px;
  min-width:500px;
  height: auto;
  display: block;
}

.container .bg {
  margin-top: 20px;
  background-color: rgba(108, 117, 125, 0.812);
  position:absolute;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  min-height: 100px;
  max-height: 250px;
  color: white;
  border: 4px solid black;
  margin-bottom: 34px;
  align-items: center;
  text-align: center;
}

.bg .form-control-custom {
  border: 2px solid #000; 
  border-radius: 5px; 
  padding: 10px; 
  color:rgba(255, 255, 255, 0.768);
}
