.custom {
    color: black;
    background-color: white;
    text-align: left;

}

.custom:hover {
    color:#6c757d;
}

ul.scrollable {
    max-height: 200px;
    overflow-y: scroll;
    overflow-x:auto;
}
